body {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.popup {
    display: none;
    position: absolute;
    width: 35%;
    height: 40%;
    top: 20%;
    left: 2%;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.popup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(194, 158, 248);
    filter: blur(1px);
    opacity: 0.8;
    z-index: 0;
}

.popup>.btn-question {
    position: relative;
    z-index: 1;
}

.dialog {
    display: none;
    position: absolute;
    width: 90%;
    height: 20%;
    bottom: 0%;
    left: 5%;
    border-radius: 5px;
    background-color: rgb(194, 158, 248);
    padding: 10px;
}

.box-button {
    cursor: pointer;
    border: 4px solid black;
    background-color: gray;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
    user-select: none;
}

.button {
    background-color: #dddddd;
    border: 4px solid #fff;
    padding: 3px 8px;
}

.button span {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.box-button:active {
    padding: 0;
    margin-bottom: 10px;
    transform: translateY(10px);
}

@media (max-width: 600px) {
    .popup {
        left: initial;
        right: 2%;
        width: 20%;
    }
}